<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">
    <title>Sign Up</title>
  </head>
  <body>
    <div class="signup">
    <h1>Create Your MoodHaus Account !</h1>
    <h5>Start organizing your interior ideas with custom moodboards</h5>

    <div class="container2">
      <div class="card2">
        <a class="logup">Sign Up</a>
    <form action="/auth/sign-up" method="POST">
          <div class="inputBox">
      <input type="text" name="username" id="username" placeholder=" " autocomplete="username" />
      <label for="username">Username</label>
          </div>
          <div class="inputBox">
      <input type="password" name="password" id="password" placeholder=" " autocomplete="new-password" />
      <label for="password">Password</label>
          </div>
          <div class="inputBox">
      <input type="password" name="confirmPassword" id="confirmPassword" placeholder=" " autocomplete="new-password"/>
      <label for="confirmPassword">Confirm Password</label>
          </div>
    <button type="submit" class="button">Create Account</button>
    </form>
  </div>
  </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.inputBox input').forEach(inp => {
          if (inp.value.trim() !== '') inp.classList.add('has-value');
        });
      });
    </script>
    </div>
  </body>
</html>
