<nav>
   <a href="/"> Home </a>
   <a href="/furnitures"> Catalog </a>
   <% if(user){ %>
        <div>
        <a href="/users/profile"> My Furniture </a>
        <a href="/moodboards"> My Moodboards </a>
        <a href="/auth/sign-out"> Sign Out </a>
        </div>
   <% } else { %>
        <div>
            <a href="/auth/sign-up">Sign Up</a>
            <a href="/auth/sign-in">Sign in</a>
        </div>
  <%  } %>
</nav>
