<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Create a New Moodboard</title>
</head>
<body class="create-moodboard-page">
      <%- include('../partials/_navbar.ejs') %>

<h1 class="page-title">Create a New Moodboard</h1>

<form action="/moodboards" method="POST" class="create-moodboard-form">
  <div class="form-group">
    <label>Title<br>
      <input type="text" name="title" required >
    </label>
  </div>

  <div class="form-group">
    <label>Description <br>
      <textarea name="description" rows="4" cols="40" placeholder="Short description (optional)"></textarea>
    </label>
  </div>

  <div class="form-actions">
    <button type="submit">Create Moodboard</button>
    <a href="/moodboards">Cancel</a>
  </div>
</form>

</body>
</html>